<h1>Tasks <% if @subject %>of <%= link_to @subject.name, subject_path(@subject) %><% end %></h1>

<% if @subject %>
  <%= link_to 'new task', new_subject_task_path(@subject) %>
<% end %>

<table>
  <tbody>
    <%= render @tasks %>
  </tbody>
</table>
