h1
  |  Journals 
  - if @subject
    |  of 
    = link_to @subject.name, subject_path(@subject)
- if @subject
  #new_journal
    = render 'form'
#journals.list
  - if @subject
    = render @journals
  - else
    = render 'global'
