<li>
  <input type='checkbox' class='task_item' value="<%= task_item.id %>" <%= 'checked' if task_item.finished_at %>>
  <%= task_item.content %>
  <% if task_item.finished_at %>
    (finished!)
  <% end %>
</li>
