// Place all the styles related to the Subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cropper-area {
  max-width: 100%;
}

#img-preview {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

#new-subject-container {
  width: 40em;
}

#cover {
  display: none;
}

#show-cover {
  width: 100%;
}

.right-aligned {
  width: 100%;
  display: table;
  text-align: right;
}

// Journals are not long.
// Therefore the default height of semantic-ui (12em)
// seems too large for them.
// 'auto' will let the element use the min-height (8em)
// given by semantic-ui, which is much more proper.
#new_journal_input_field {
  height: auto;
}

#subject_show_header {
  margin-top: 1em;
}

#subject_show_journal_date {
  margin-left: 0px;  // Override semantic-ui
}

#subject_show_comments {
  max-width: 100%;  // Override semantic-ui
}
