// Place all the styles related to the Subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cropper-area {
  max-width: 100%;
}

#img-preview {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

#new-subject-container {
  width: 600px;
  margin-left: 2em;
  margin-top: 3em;
}

#cover {
  display: none;
}
