<div id='nav-bar' class='ui secondary menu'>
  <%= render partial: 'layouts/navigation/item',
    collection: [['Index', root_path],
                 ['Categories', categories_path],
                 ['Subjects', subjects_path],
                 ['Posts', posts_path],
                 ['Journals', journals_path],
                 ['Tasks', tasks_path]],
    as: :entity %>

  <div class='right menu'>
    <div class='item'>
      <div class='ui icon input'>
        <input type='text', placeholder='Search...'>
        <i class='search link icon'></i>
      </div>
    </div>
  </div>
</div>
